.hero {
  background-image: url(../../../../assets/images/about1.webp);
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: 'Libre Baskerville', -apple-system, Roboto, Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
  padding: 50px 150px 50px;
}

.heroContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  max-width: 1100px;
}



@media (max-width: 1200px) {
    .heroContainer {
        width: 1140px;
        max-width: 100%;
    }
}
@media (max-width: 992px) {
    .heroContainer {
        width: 960px;
        max-width: 100%;
    }
}
@media (max-width: 768px) {
    .heroContainer {
        width: 720px;
        max-width: 100%;
    }
}
@media (max-width: 576px) {
    .heroContainer {
        width: 540px;
        max-width: 100%;
    }
}
@media (min-width: 1200px) {
    .heroContainer {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 992px) {
    .heroContainer {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 768px) {
    .heroContainer {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 576px) {
    .heroContainer {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.heroContainer {
    height: 100%;
    /* position: relative; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    padding-right: 15px;
    padding-left: 15px;
}




@media (max-width: 991px) {
  .hero {
    max-width: 100%;
    padding: 100px 20px;
    /* color: aqua; */
  }
  .heroContainer{
    align-items: center;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 16px; /* Space between blocks */
  padding: 20px;
  background-color: #F1F1F1;
  color: black;
  /* border-radius: 20px; */
}

.gridBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  max-width: 250px;
}


.gridBlock h3 {
  margin: 8px 0;
  font-size: 18px;
  text-align: center;
}

.gridBlock p {
  font-size: 14px;
  text-align: center;
  color: #7C7C7C;
}

/* Responsive for smaller screens: 1 block per row */
@media (max-width: 600px) {
  .gridContainer {
    grid-template-columns: 1fr; /* Single column on smaller screens */
  }
}
