.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  /* background-color: #fff; */
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 70px;
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
    padding: 5px 20px;
  }
}

.headerBlur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headerNoBlur {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headerContent {
  display: flex;
  margin-left: 44px;
  margin-right: 44px;
  width: 1022px;
  max-width: 100%;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.logo {
  align-self: stretch;
  display: flex;
  gap: 1px;
  color: #000;
  white-space: nowrap;
  text-align: center;
  font: 400 20px/1 Inter, sans-serif;
}

@media (max-width: 991px) {
  .logo {
    white-space: initial;
  }
}

.logoImage {
  aspect-ratio: 0.86;
  object-fit: contain;
  object-position: center;
  width: 54px;
}

.logoText {
  flex-basis: auto;
  margin: auto 0;
  color: #f48649;
}

.navigation {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 40px 58px;
  color: #787878;
  flex-wrap: wrap;
  margin: auto 0;
  font: 400 18px Ubuntu, sans-serif;
  transition: none;
}

@media (max-width: 991px) {
  .navigation {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease-in-out;
    z-index: 998;
  }

  .menuOpen {
    right: 0;
  }

  .menuClose {
    right: -100%;
  }

  .navItem {
    margin: 1.5rem 0;
    font-size: 1.2rem;
    color: #000;
  }

  .buyButton {
    margin-top: 20px;
    background-color: #ffa264;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
  }

  .navItem a,
  .buyButton {
    text-decoration: none;
    color: inherit;
  }

  /* Ensure active item is highlighted */
  .activeNavItem {
    color: #f48649;
  }
}

/* Close button for the navigation menu */
.closeButton {
  position: absolute;
  top: 0;
  right: 40px;
  background: transparent;
  border: none;
  font-size: 4rem;
  color: white;
  cursor: pointer;
  z-index: 1001; /* Ensure it's above everything else */
  /* display: none; */
}



.activeNavItem {
  color: #f48649;
}

.buyButton {
  border-radius: 7px;
  background-color: #ffa264;
  /* align-self: stretch; */
  color: #000;
  text-align: center;
  padding: 5px 34px;
}

.userSection {
  align-self: stretch;
  display: flex;
  gap: 29px;
  white-space: nowrap;
  text-align: center;
  margin: auto 0;
}

@media (max-width: 991px) {
  .userSection {
    white-space: initial;
  }
}

.cartWrapper {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

@media (max-width: 991px) {
  .cartWrapper {
    white-space: initial;
  }
}

.cartCount {
  color: #fff;
  align-self: end;
  font: 300 12px Poppins, sans-serif;
}

.cartIcon {
  display: flex;
  gap: 10px;
  color: #000;
  font: 25px/1 Font Awesome 5 Free, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .cartIcon {
    white-space: initial;
  }
}

.cartIconEmpty {
  font-weight: 400;
}

.cartIconFull {
  font-weight: 900;
}

.userIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 39px;
  z-index: 999;
}

@media (min-width: 991px) {
  .userIcon {
    display: none;
  }

  .closeButton {
    display: none;
  }
}

/* .menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
} */
