.socialLinks {
  display: flex;
  gap: 6px;
  margin: 16px 0;
}

.socialLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: #fff;
  border: 2px solid #000;
  color: #000;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.icon {
  height: 25px;
  width: 25px;
}

